<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newsleep="{{devour}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="devour-smoothie" data-id="{{this.id}}">DELETE!</button>
</li>
